.personal-link {
    color: #D4AF37;
    text-decoration: none;
}

.personal-link:hover {
    color: #ffda5f;
}

::-webkit-scrollbar {
    width: 8px;
  }
  
/* Track */
::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);;
border-radius: 10px;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
background:  #343a40;
border-radius: 10px;
} 
